body{background-color:#444;background-image:url(5296ee71e328b9eaf8f520d6269bf742.png);background-position:center;background-repeat:no-repeat;height:100vh}

.botao{background-color:#19B3E6;color:#fff;font-size:1.8em}

